# Folders #
bin/*

# DAT files #
*.dat

# Input files #
*.input


# Images #
*.eps
*.png

# Python
*.py
*.pyc
*.ipynb

# Executables #
*.o

# Archives #
*.zip
*.gz

# mac OS files #
.DS_Store
.ipynb*/

# VSCode folder
.vscode/
