# Folders #
/bin/*
/inputs_outputs/*

# DAT files #
*.dat

# Input files #
*.input


# Images #
*.eps
*.png

# Python
*.py
*.pyc
*.ipynb

# Executables #
*.o

# Archives #
*.zip
*.gz

# mac OS files #
.DS_Store
.ipynb*/

# VSCode folder
/.vscode/

# virtual env
/.venv

# Denisty Data folder
/Density_data/